<div class="form">
    <h2 class="underline">SCHEDULE AN APPOINTMENT</h2>
    <p>
        Simply fill out the information below with the services you are interested in! Our team will contact you with a quote and available time slot.
    </p>
    <hr class="customLine2"> 
    <form>
        <div class="name">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="Ex: John Doe" required>
        </div>
        <div class="email">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="Ex: johndoe@gmail.com" required>
        </div>
        <div class="make"> 
            <label for="make">Make</label>
            <select name="make" id="make">
                <option value="Default">...</option>
                <option value="BMW">BMW</option>
                <option value="Audi">Audi</option>
                <option value="Mercedez-Benz">Mercedez-Benz</option>
                <option value="Porsche">Porsche</option>
                <option value="Honda">Honda</option>
                <option value="Acura">Acura</option>
                <option value="Lexus">Lexus</option>
                <option value="Toyota">Toyota</option>
            </select>
        </div>
        <div class="model">
            <label for="model/trim">Model/Trim</label>
            <input type="text" name="model/trim" id="model/trim" placeholder="Ex: BMW M340i" required>
        </div>
        <div class="year">
            <label for="year">Year</label>   
            <select name="year" id="year">
                <option value="Default">...</option>
                <option value="2024">2024</option>
                <option value="2023">2023</option>
                <option value="2022">2022</option>
                <option value="2021">2021</option>
                <option value="2020">2020</option>
                <option value="2019">2019</option>
                <option value="2018">2018</option>
                <option value="2017">2017</option>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
                <option value="2014">2014</option>
                <option value="2013">2013</option>
                <option value="2012">2012</option>
                <option value="2011">2011</option>
                <option value="2010">2010</option>
                <option value="2009">2009</option>
                <option value="2008">2008</option>
                <option value="2007">2007</option>
                <option value="2006">2006</option>
            </select>
        </div>
        <div class="interests">
            <label for="interests">What Are You Looking To Get Done?</label>
            <input type="text" name="interests" id="interests" placeholder="Ex: Exhaust Install">
        </div>
       <div class="parts">
            <div>
                <label for="yes">Are You Bringing Your Own Parts?</label>
                <input type="radio" name="parts" id="yes" value="Yes">
                <label for="yes">Yes</label>
                <input type="radio" name="parts" id="no" value="No">
                <label for="no">No</label>
            </div>
        </div>
        <button type="submit" class="apptFormSubmit">SUBMIT FORM</button>
    </form>
    <hr class="customLine"> 
    {{!-- <div id="thankYouMessage" style="display: none;">
        Thank you for filling out the form! Our team will contact you soon.
    </div> --}}
</div>
