<div class="hero-image-two">
    <h1>Contact Us</h1>
    <p>Need some help? Shoot us a message and one of our team members will be happy to assist you.</p>
</div>

<div class="contact-container">
    <div class="form-two">
        <h2 class="underline">DROP US AN EMAIL</h2>
        <p>Fill out the information below</p>
        <hr class="customLine2"> 
        <form>
            <div class="contact-name">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" placeholder="Ex: John Doe" required>
            </div>
            <div class="contact-email">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Ex: johndoe@gmail.com" required>
            </div>
            <div class="contact-ordernum">
                <label for="ordernum">Order Number</label>
                <input type="text" name="ordernum" id="ordernum">
            </div>
            <div class="contact-message">
                <label for="message">Message</label>
                <textarea name="message" id="message" rows="7" cols="40"></textarea>
            </div>
            <button type="submit" class="contactFormSubmit">SEND</button>
        </form>
        <hr class="customLine"> 
    </div>

    <div class="table-hours">
        <table class="shop-hours">
            <caption>Shop Hours</caption>
            <tr>
                <th>Days</th>
                <th>Time</th>
            </tr>
            <tr>
                <td>Monday</td>
                <td>8:00am - 6:00pm</td>
            </tr>
            <tr>
                <td>Tuesday</td>
                <td>8:00am - 6:00pm</td>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td>8:00am - 6:00pm</td>
            </tr>
            <tr>
                <td>Thursday</td>
                <td>8:00am - 4:00pm</td>
            </tr>
            <tr>
                <td>Friday</td>
                <td>8:00am - 4:00pm</td>
            </tr>
            <tr>
                <td>Saturday</td>
                <td>7:00am - 1:00pm</td>
            </tr>
            <tr>
                <td>Sunday</td>
                <td>CLOSED</td>
            </tr>
        </table>
    </div>
</div>
