<footer class="site-footer">
    <div class="footer-container">
        <div class="footer-section">
            <h4>Website Author</h4>
            <a href="#">Jaraad Hussain</a>
            <a href="#">CSCI 355</a>
            <a href="#">Project 1</a>
        </div>
        <div class="footer-section">
            <h4>About</h4>
            <a href="#">Shop Info</a>
            <a href="#">Showroom</a>
            <a href="#">Careers</a>
        </div>
        <div class="footer-section">
            <h4>Follow Us</h4>
            <a href="#">Facebook</a>
            <a href="#">Instagram</a>
            <a href="#">Twitter</a>
        </div>
    </div>
</footer>
