<div class="hero-image-four">
    <h1>OUR WORK</h1>
    <p>View some of our work below that keeps people coming back!</p>
</div>

<div class="slider-container">
  <div class="left-slide">
    <div style="background-color: rgba(43, 43, 43, 0.5)">
        <p class="car-name">AUDI RS3</p>
        <p class="our-work">034 Motorsports Stage 2+ tune</p>
    </div>
      <div style="background-color: rgba(43, 43, 43, 0.5)">
        <p class="car-name">BMW F30 335i</p>
        <p class="our-work">N55 Single Turbo Kit Install + Tune</p>
      </div>
      <div style="background-color: rgba(43, 43, 43, 0.5)">
        <p class="car-name">INFINITI Q50S</p>
        <p class="our-work">Carbon fiber diffuser + rear spoiler + tune</p>
      </div>
      <div style="background-color: rgba(43, 43, 43, 0.5)">
        <p class="car-name">BMW M340i</p>
        <p class="our-work">Carbon Fiber front lip + side skirts</p>
      </div>
        <div style="background-color: rgba(43, 43, 43, 0.5)">
        <p class="car-name">B9 AUDI S4</p>
        <p class="our-work">Upgraded Turbo + 034 Stage 3+ Tune</p>
      </div>
    </div>
      <div class="right-slide">
        <div style="background-image: url('https://performancespeedshop.com/cdn/shop/products/sd-carbon-fiber-tempered-glass-hood-bonnet-for-audi-a4-s4-2017-on-b9-b95-820635_1024x1024.jpg?v=1695751391')"></div>
        <div style="background-image: url('https://cdn.shopify.com/s/files/1/0661/8667/4393/products/IMG_18812.jpg?v=1673238218')"></div>
        <div style="background-image: url('https://www.avantgardewheels.com/wp-content/uploads/2020/06/IMG_6072.jpg')"></div>
        <div style="background-image: url('https://farm5.staticflickr.com/4316/35895122152_f0bab146d5_b.jpg')"></div>
        <div style="background-image: url('https://www.automotiveaddiction.co.uk/wp-content/uploads/2024/01/audi-rs3-saloon-nardo-grey-apr-tuned-modified-ztp_0076.png')"></div>
      </div>
      <div class="action-buttons">
        <button class="down-button">
          <i class="fas fa-arrow-down"></i>
      </button>
      <button class="up-button">
          <i class="fas fa-arrow-up"></i>
      </button>
    </div>
</div>

