<div class="slider-container">
  <div class="left-slide">
    <div style="background-color: rgb(129, 129, 129)">
      <h1>034 STAGE 1</h1><br>
        <h1>AUDI RS3</h1>
        <p>@NOHESIJAY</p>
    </div>
      <div style="background-color: rgb(98, 14, 14)">
        <h1>BMW E46 M3</h1>
          <p>@SHIFTYAP</p>
      </div>
      <div style="background-color: #252E33">
        <h1>STAGE 2 BAGGED</h1><br>
        <h1>INFINITI Q50S</h1>
        <p>@PREE.AJ</p>
      </div>
      <div style="background-color: rgb(56, 78, 201)">
        <h1>BMW F30 335i</h1><br>
        <h1>SINGLE TURBO</h1>
        <p>@HONDILLY</p>
      </div>
    </div>
      <div class="right-slide">
        <div style="background-image: url('https://farm5.staticflickr.com/4316/35895122152_f0bab146d5_b.jpg')"></div>
        <div style="background-image: url('https://i.pinimg.com/originals/25/fb/59/25fb597b5854eb47163d673b19b309d1.jpg')"></div>
        <div style="background-image: url('https://i.redd.it/beautiful-e46-m3-v0-w7umx87tzwhb1.jpg?width=4032&format=pjpg&auto=webp&s=9e914ee1b67fb4c3f83f15bbfa5baa7e2155c401')"></div>
        <div style="background-image: url('https://www.automotiveaddiction.co.uk/wp-content/uploads/2024/01/audi-rs3-saloon-nardo-grey-apr-tuned-modified-ztp_0076.png')"></div>
      </div>
      <div class="action-buttons">
        <button class="down-button">
          <i class="fas fa-arrow-down"></i>
      </button>
      <button class="up-button">
          <i class="fas fa-arrow-up"></i>
      </button>
    </div>
</div>