<div class="hero">
    <div class="homepicture">
        <h1>Welcome to Precision Speed Dynamics</h1>
        <p>Your ultimate destination for Premium Parts and Performance</p>
    </div>
</div>

<section class="homecontent">
    <h2>Content One</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit dolor ullam porro obcaecati consequatur explicabo sunt nihil dolores. Eos maxime sint laudantium. Repellat facilis sint repellendus incidunt autem et qui ipsum iusto aut voluptatem exercitationem laborum impedit nam quod eos, dicta quis sed molestias natus itaque modi alias fugiat! Rerum?</p>
        
    <h3>Content Two</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat enim repellat aliquam quae voluptates magnam provident, ea tempora veniam tenetur repudiandae delectus quasi dolor unde et obcaecati labore explicabo cumque adipisci iste architecto, consequatur illo amet sunt? Pariatur ratione, inventore doloribus porro vitae voluptas quis veniam velit fugiat! Facere provident voluptatum, incidunt totam fugiat asperiores corrupti maxime voluptate accusantium eaque corporis voluptates itaque amet earum magni voluptas explicabo cumque, quidem quis ipsum nesciunt laudantium deleniti. Asperiores, illo. Debitis veritatis, voluptas cupiditate itaque dicta suscipit? Iure praesentium rem officiis harum aliquid! Temporibus rerum non, cum deleniti pariatur nisi maiores eaque consequatur?</p>   
</section>