<nav class="navbar">
    <div class="logo">
        <a href="/">
            <img src="/images/PSD-logo3.png" alt="">
        </a>
    </div>
    <div class="nav-links">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/appointments">Appointments</a></li>
            <li><a href="/shop">Shop</a></li>
            <li><a href="/gallery">Gallery</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
    <div class="nav-icons">
        <div class="nav-search">
            <input type="text" class="input" placeholder="Search...">
            <button class="nav-search-button">
                <i class="fas fa-search"></i>
            </button>
        </div>
        <a href="/login" class="icon-link"><i class="fas fa-user"></i></a>
        <a href="#" class="icon-link"><i class="fas fa-shopping-cart"></i></a>
    </div>
</nav>
