{{!-- <link rel="stylesheet" href="../layouts/style.css" type="text/css"> --}}

<nav class="navbar">
    <div class="logo">
        <img src="https://yt3.googleusercontent.com/_b1kzk57CYfF6QUKFsp-Sq6RM6HXXAmnUMXjDGShe16HLQ4kIkIPt2_lTFOASmFCpRA39PvC3KI=s900-c-k-c0x00ffffff-no-rj" alt="">
    </div>
    <div class="nav-links">
        <ul>
            <li><a>Home</a></li>
            <li><a>Appointments</a></li>
            <li><a>Shop</a></li>
            <li><a>Contact</a></li>
        </ul>
    </div>
    <div class="search">
        <input type="text" placeholder="Turbo kit">
        <button type="submit">Enter</button>
    </div>
</nav>