<div class="container">
    <div class="split left">
        <h1>Styling Parts</h1>
        <a href="/styleparts" class="btn">Shop Now</a>
    </div>
    <div class="split right">
        <h1>Performance Parts</h1>
        <a href="/performanceparts" class="btn">Shop Now</a>
    </div>
</div> 