<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Precision Speed Dynamics</title>
    <link rel="stylesheet" href="css/bodystyle.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="css/appointment.css" type="text/css">
    <link rel="stylesheet" href="css/navbar.css" type="text/css">
    <link rel="stylesheet" href="css/shoppage.css" type="text/css">
    <link rel="stylesheet" href="css/homepage.css" type="text/css">
    <link rel="stylesheet" href="css/gallery.css" type="text/css">
    <link rel="stylesheet" href="css/contact.css" type="text/css">
    <link rel="stylesheet" href="css/login.css" type="text/css">
</head>

<body>
    {{!-- {{> navbar }}  --}}
    {{{ body }}}

    <script src="js/shop.js"></script>
    <script src="js/stickynav.js"></script>
    <script src="js/gallery.js"></script>
    <script src="js/loginanimation.js"></script>
    <script src="js/search.js"></script>
</body>
</html>