.table-hours {
    font-family: 'Anta', sans-serif;
    color: #fff;
    margin-top: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* Ensure the div takes full width to center the table properly */
}

.shop-hours {
    width: 60%; /* Adjust based on your preference */
    margin-bottom: 20px;
    border-collapse: collapse; /* Enable border collapsing */
    background-color: #333; /* Background color for contrast */
    opacity: 0.9; /* Optional: Makes the table slightly transparent */
    border-radius: 8px; /* Optional: Adds rounded corners to the table */
    overflow: hidden; /* Keeps the border-radius effect contained */
}

.shop-hours caption {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 15px; /* Space below the caption */
    text-transform: uppercase;
    color: #F2AF29; /* Caption color */
    background-color: #222; /* Caption background for distinction */
    padding: 10px;
    border-radius: 8px 8px 0 0; /* Rounded corners at the top */
}

.shop-hours th, .shop-hours td {
    text-align: left; /* Aligns text to the left */
    padding: 8px; /* Padding inside cells */
    border-bottom: 2px solid #F2AF29; /* Border bottom for each cell */
}

.shop-hours th {
    background-color: #444; /* Slightly different background for headers */
    color: #F2AF29; /* Header text color */
}

/* Removes the border from the last row for a cleaner look */
.shop-hours tr:last-child td {
    border-bottom: none;
}

/* Optional: Hover effect on rows */
.shop-hours tr:hover {
    background-color: #555; /* Change as per your theme */
}

