@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");

/* Overall Webstie Body */
body {
  background-color: #151515;
  font-family: 'Anta', sans-serif;
  color: white;
  height: 100vh;
}

/* Customizes the whole scrollbar */
::-webkit-scrollbar {
    width: 8px; /* Adjust the width of the scrollbar */
    height: 8px;
}

/* Customizes the background of the scrollbar track */
::-webkit-scrollbar-track {
    background: rgb(20, 20, 20); /* Light grey track background */
}

/* Customizes the scrollbar handle */
::-webkit-scrollbar-thumb {
    background: #888; /* Dark grey scrollbar handle */
    border-radius: 6px; /* Optional: Rounds the corners of the scrollbar thumb */
}

/* Customizes the scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Darker grey on hover */
}
