/* CONTACT PAGE IMAGE */
.hero-image-two {
    background-image: url('https://images.squarespace-cdn.com/content/v1/5bfeafebe74940786780afa1/3bee4b37-cf34-4840-b575-cc5fbb4c6495/DSC02208.jpg');
    height: 125vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -105px;
    position: relative;
    z-index: -2;
}

.hero-image-two::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.hero-image-two h1 {
    margin-top: 185px;
    font-size: 2.7em;
    text-transform: uppercase;
}

.hero-image-two p{
    margin: 0;
    font-size: 1.2em;
    text-transform: uppercase;
}



/* CONTACT FORM */
.form-two {
    font-family: 'Anta', sans-serif;
    color: #fff;
    background-color: rgba(31, 31, 31, 0.8); 
    padding: 40px;
    border-radius: 8px;
    width: 80%; 
    max-width: 800px; 
    margin: 10px auto 40px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    position: relative; 
    z-index: 2; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
}

.form-two h2 {
    color: #F2AF29;
    margin-bottom: 30px; 
    text-decoration: underline;
}

.form-two .contact-name,
.form-two .contact-email,
.form-two .contact-ordernum,
.form-two .contact-message {
    width: 100%; 
    margin-bottom: 20px;
}

.form-two label {
    display: block;
    margin-bottom: 8px; 
}

.form-two input[type="text"],
.form-two input[type="email"],
.form-two textarea {
    font-family: 'Anta', sans-serif;
    width: 100%; 
    padding: 12px;
    border: 2px solid #F2AF29; 
    border-radius: 4px; 
    background-color: #252E33; 
    color: #fff; 
    margin-bottom: 10px; 
}

.form-two input[type="text"]:focus,
.form-two input[type="email"]:focus,
.form-two textarea:focus {
    outline: none;
    border-color: #775511; 
}

.form-two button.contactFormSubmit {
    font-family: 'Anta', sans-serif;
    cursor: pointer;
    padding: 15px 30px;
    background-color: #AD343E; 
    color: #fff; 
    border: none;
    border-radius: 4px; 
    font-size: 16px;
    text-transform: uppercase; 
    transition: background-color 0.3s ease; 
}

.contactFormSubmit {
    margin-left: 110px;
}

.form-two button.contactFormSubmit:hover {
    background-color: #481216; 
}




/* SHOP HOURS */
.table-hours {
    font-family: 'Anta', sans-serif;
    color: #fff;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%; 
    grid-column: 2;
}

.shop-hours {
    width: 105%; 
    margin-top: -500px;
    margin-right: 20px;
    border-collapse: collapse; 
    background-color: #333; 
    opacity: 0.9; 
    border-radius: 8px; 
    overflow: hidden; 
}

.shop-hours caption {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 15px;
    text-transform: uppercase;
    color: #F2AF29; 
    background-color: #222; 
    padding: 10px;
    border-radius: 8px 8px 0 0; 
}

.shop-hours th, .shop-hours td {
    text-align: left; 
    padding: 8px; 
    border-bottom: 2px solid #F2AF29; 
}

.shop-hours th {
    background-color: #444;
    color: #F2AF29; 
}

.shop-hours tr:last-child td {
    border-bottom: none;
}

.shop-hours tr:hover {
    background-color: #555; 
}

.contact-container {
    display: grid;
    grid-template-columns: repeat(2, 800px);
}

