.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #235789;
  color: white;
}

body {
  background-color: #FDFFFC;
}

.logo img{
  max-width: 100px;
}

.nav-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-links ul li {
  margin-right: 20px;
}

.nav-links ul li:last-child {
  margin-right: 0;
}

.nav-links ul li a {
  color: white;
  text-decoration: none;
}

.nav-links ul li a:hover {
  text-decoration: underline;
}

.search {
  display: flex; /* Use flexbox for search container */
}

.search input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search button {
  padding: 8px 12px;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.search button:hover {
  background-color: #45a049;
}



