@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");


/* Overall Webstie Body */
body {
  background-color: #000000;
  font-family: 'Anta', sans-serif;
  color: white;
}

/* Appointment Form */
.form {
  font-family: 'Anta', sans-serif;
  color: white;
  width: 800px;
  margin: 0 auto;
  margin-left: 405px;
  margin-top: 140px;
}

.form p {
  font-size: 12px;
  white-space: nowrap; 
  overflow: hidden; 
}

.underline {
  text-decoration: underline;
}

.form p, .underline, .name, .email, .make, .model, .year, .interests, .parts{
  margin-bottom: 20px;
}

.form input {
  font-family: 'Anta', sans-serif;
  border: 2px solid #F2AF29;
  background-color: #9f9f9f;
  border-radius: 5px;
  /* width: 350px; */
}

.name input, .email input, .model input, .interests input {
  height: 30px;
  width: 300px;
}

.form input:focus {
  border: none;
}

.form input::placeholder{
  font-family: 'Anta', sans-serif;
  color: black;
}

.form select {
  font-family: 'Anta', sans-serif; /* Ensure dropdowns use the same font */
  border: 2px solid #F2AF29;
  background-color: #9f9f9f;
  color: black; /* Adjust text color as needed */
  border-radius: 5px;
}

.apptFormSubmit {
  padding: 8px 12px;
  border: none;
  background-color: #AD343E;
  font-family: 'Anta', sans-serif;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.apptFormSubmit:hover {
  background-color: #7f1c24;
}

.customLine {
  border: none; /* Removes the default border */
  height: 2px; /* Sets the thickness of the line */
  width: 50vw;
  background-color: rgba(250, 250, 250, 0.5); /* Black color with 50% transparency */
  margin: 35px 0; /* Adds some space above and below the line */
}

.customLine2 {
  border: none; /* Removes the default border */
  height: 2px; /* Sets the thickness of the line */
  width: 50vw;
  background-color: rgba(250, 250, 250, 0.5); /* Black color with 50% transparency */
  margin: 35px 0; /* Adds some space above and below the line */
}

/* .footerAppt {
  color: #F2AF29;
} */




