@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");

:root {
  --left-bg-color: rgba(173, 52, 62, 0.7);
  --right-bg-color: rgba(43, 43, 43, 0.8);
  --left-btn-hover-color: rgb(87,84,236,1);
  --right-btn-hover-color: rgba(28,122,28,1);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
}

/* Overall Webstie Body */
body {
  background-color: #000000;
  font-family: 'Anta', sans-serif;
}

/* Appointment Form */
.form {
  font-family: 'Anta', sans-serif;
  color: white;
  width: 800px;
  margin: 0 auto;
  margin-left: 100px;
  margin-top: 125px;
}

.form p {
  font-size: 12px;
  white-space: nowrap; 
  overflow: hidden; 
}

.underline {
  text-decoration: underline;
}

.name, .email, .make, .model, .year, .interests, .parts{
  margin-bottom: 10px;
}

.form input {
  font-family: 'Anta', sans-serif;
  border: 2px solid #F2AF29;
  background-color: #9f9f9f;
  border-radius: 5px;
  /* width: 350px; */
}

.name input {
  width: 300px;
}

.form input:focus {
  border: none;
}

.form input::placeholder{
  font-family: 'Anta', sans-serif;
  color: black;
}

.form select {
  font-family: 'Anta', sans-serif; /* Ensure dropdowns use the same font */
  border: 2px solid #F2AF29;
  background-color: #9f9f9f;
  color: black; /* Adjust text color as needed */
  border-radius: 5px;
}



